<template name="about">
	<div id="about" class="map-panel top-panel unselectable">
		<strong >about</strong>
	</div>
</template>

<template name="aboutPage">
	<div>
		<div>
		Congrats! If you don't know what Multimap is, you hit the right button.
		</div>
		<br>
		<div>
		To start up I encourage you to sign up, you can do it manually or through Facebook, Google+ and Twitter accounts. Then you can enjoy Multimap fully.. But wait, what's it exactly?
		</div>
		<br>
		<div>
		Basically it's the same Google Maps you've already know, sharing the same map among all users. You can see them just like you, using the map or the street view in a real time, you can even message them.
		</div>
		<br>
		<div>
		Build with MeteorJS framework (my first Meteor app), the project is making his baby steps. Now I'm releasing it to the world, as a baby. So please, be critical but not judgmental, unnecessary to mention that your interest is crucial in this stage. The issue tracker is on <a href=https://bitbucket.org/leonprou/multimap/issues target="_blank">Bitbucket</a>, <a href="mailto:leonprou@gmail.com">email</a> me for anything else.
		</div>
		<br>
		<div>
		That's just a seed which may turn someday to a tree, maybe even more than one.
		</div>
	</div>
</template>

