<head>
	<title>Meteor Multimap</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0BB-mnnlFimPWZJesXCQPLGjIl6_8Ewk"></script>
</head>
<body>
		{{>home}}
</body>